.blog-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 0;
  background-color: #f5f5f5;
  /* Off-white */
  padding: 1.5rem;
  border-radius: 0.9rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.2s;
  text-decoration: none;
  color: inherit;
  position: relative;
  max-width: 80%;
}

.blog-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-content {
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.card-meta {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
  justify-content: space-between;
}

.card-category {
  font-weight: 500;
  color: #686e7c;
}

.card-separator {
  margin: 0 0.5rem;
  color: #6b7280;
}

.card-date {
  color: #6b7280;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: #111827;
  margin: 0;
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-link-icon {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 1.25rem;
  color: #6b7280;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  transition: background-color 0.6s;
  transition: color 0.6s;
}

.blog-card:hover .card-link-icon {
  color: #fefefe;
  background-color: #111827;
}

.date-field {}

@media (max-width: 1250px) {
  .blog-card {
    max-width: 100%;
    flex-direction: column;
  }

  .card-meta {
    flex-direction: column;
    align-items: start;
    margin-bottom: 0.75rem;
  }

  .card-separator {
    margin: 0 0.5rem 0 0;
  }

  .date-field {
    margin-top: 0.75rem;
  }

  .card-title {
    overflow: visible;
    white-space: unset;
    text-overflow: unset;
  }
}