.blog-section {
  display: flex;
  background-color: #fff;
  padding: 0 2rem;
  gap: 2rem;
}

.blog-intro {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-header {
  font-size: 0.875rem;
  font-weight: 600;
  color: #4b5563;
  text-transform: uppercase;
  margin: 0;
  text-decoration: none;
}

.blog-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #111827;
  margin: 0.5rem 0 1rem;
}

.blog-description {
  font-size: 1.125rem;
  color: #6b7280;
  margin-bottom: 2rem;
}

.blog-cta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #dedee7;
  color: #111827;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.s;
  align-self: flex-start;
}

.blog-cta:hover {
  background-color: #e5e7eb;
}
.blog-cta:disabled {
  background-color: #dbc1df;
  color: #747a80;
}
.blog-cta span {
  font-size: 1.25rem;
}

.job-link {
  text-decoration: underline;
  color: #81a3da;
}

.blog-list {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: slide-and-unblur-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
  /* Added delay */
}

/* Responsive Styles */
@media (max-width: 850px) {
  .blog-section {
    flex-direction: column;
  }

  .blog-intro {
    max-width: 100%;
    align-items: flex-start;
    text-align: left;
    padding-top: 40px;
    animation: slide-and-unblur-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

@media (min-width: 851px) {
  .blog-section {
    align-items: flex-start;
  }
  .blog-intro {
    position: sticky;
    top: 0;
    height: 100vh;
    animation: slide-and-unblur-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .blog-list {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .blog-list::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
  }
}

@keyframes slide-and-unblur-left {
  0% {
    transform: translateX(-100px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-and-unblur-right {
  0% {
    transform: translateX(100px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
  }
}


.section-footer {
  text-align: center;
  margin-top: 10px;
  justify-items: center;
}

.section-footer button {
  margin: 20px 0;
}