/* General container for the article */
.article-container {
  max-width: 80%; /* Readable line length */
  margin: 0 auto; /* Center the container */
  padding: 2rem;
  border-radius: 8px;
  text-align: justify;
  animation: slide-and-unblur 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-and-unblur {
  0% {
    transform: translateX(-100%);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
  }
}


.article-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  background-color: #f5f5f5;
  padding: 1.5rem;
  border-radius: 0.9rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-decoration: none;
  color: inherit;
  position: relative;
}

/* Article title */
.article-container h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #333;
}

@media (max-width: 768px) {
  .article-container h1 {
    text-align: left;
    font-size: 1.8em; /* Smaller font size for smaller screens */
  }
  .article-container {
    padding: 1rem;
  }
  .article-content::first-letter {
    font-size: 3em;
  }
}


/* Article metadata (publish date) */
.article-container p em {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 2em;
  display: block; /* Ensure it takes up its own line */
}

/* The main article content */
.article-content {
  font-size: 1.1em;
  line-height: 1.7;
  color: #444;
}

/* Drop cap for the first letter */
.article-content::first-letter {
  font-size: 4em;
  float: left;
  line-height: 0.8;
  margin-right: 0.1em;
  font-family: 'Playfair Display', serif; /* A more elegant serif font */
  font-weight: bold;
}
