name: Deploy to EC2 (After CodeBuild)

on:
  push:
    branches: [ main ]

jobs:
  deploy-ec2:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: 13.60.183.195
        username: ec2-user
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /home/ec2-user/Technical-Test
          ./infra/scripts/deploy.sh