name: Full Auto Deploy (CodeBuild + EC2)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-1
    
    - name: Trigger mcblog-deploy CodeBuild 
      uses: aws-actions/aws-codebuild-run-build@v1
      with:
        project-name: mcblog-deploy
        # Waits for CodeBuild to finish
    
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: 13.60.183.195
        username: ec2-user
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /home/ec2-user/Technical-Test/infra/scripts
          ./deploy.sh
